@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;;
}

:root {
  --bgd: #000000;
  --noblack: #181A1C;
  --white: #fff;
  --p1: #4C5FD5;
  --p2: #dadbf1;
}

header {
  padding: 20px 90px;
  background-color: var(--bgd);
}

header, header div, header .logo{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header a {
  color: var(--white);
  font-size: 20px;
  text-decoration: none;
  margin: 0 10px;
}

header span {
  padding: 10px;
  color: var(--white);
  font-size: 18px;
}

header .logo:hover {
  opacity: .8;
  
  transition-duration: .2s;
}

header .help:hover {
  text-decoration: underline;
}

.items a {
  padding: 6px 14px;
  border: 1px solid var(--white);
  background-color: var(--noblack);
  border-radius: 10px;
}

.items .sign-in {
  background-color: var(--p1);
  border: 1px solid var(--p1);
  padding: 6px 32px;
}

.items .sign-in:hover {
  background-color: var(--white);
  border-color: var(--white);
  color: var(--noblack);
  transition-duration: .5s;
}


main {
  align-items: center;
}

main .first-section {
  background-color: var(--p2);
  padding-top: 85px;
  padding-bottom: 115px;
}

.first-section > div {
  text-align: center;
  font-size: 60px;
  font-weight: 600;
}

.first-section input {
  position: relative;
  left: 20px;
  width: 650px;
  height: 50px;
  padding: 0 25px;
  border: 1px solid;
  border-radius: 5px;
}

.first-section input[type="search"]::-webkit-search-cancel-button {
  display: none;
}

.first-section input:hover, .first-section input:focus, .first-section input:active {
  border: 1px solid #4C5FD5;
  outline: #4C5FD5;
}

.first-section .search-icon {
  display: inline-block;
  position: relative;
  top: 10px;
  right: 40px;
}
